<form method="POST" action="/new">
    <h2>New Message</h2>
    <fieldset>
        <label for="messageUser">Author:</label>
        <input type="text" id="messageUser" name="messageUser" required minlength="2" placeholder="enter author">

    </fieldset>
    <fieldset>
        <label for="messageText">Message:</label>
        <input type="text" id="messageText" name="messageText" required minlength="1" placeholder="enter message">
    </fieldset>

    <button type="submit">Send</button>
</form>