<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/styles.css">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>Messages</h1>

    <main>
        <% messages.forEach((message, index)=> { %>
            <div class="message-container">
                <p class="message-user"><strong>
                        <%= message.author %>
                    </strong></p>
                <p class="message-body">
                    <%= message.message %>
                </p>
                <div class="message-footer">
                    <p class="message-timestamp">
                        <%= message.timestamp.toDateString() %>
                    </p>

                </div>

            </div>
            <% }) %>

                <a href="/new">Add Message</a>
    </main>
</body>

</html>